// Color Theme Vars
$color-main: #C8E2D4;
$color-secondary: #333333;
$color-third: #C8E2D4;

$color-dark: darken(#C8E2D4, 20%);
$color-dark-accent: darken(#C8E2D4, 30%);
$color-extra-dark: darken(#C8E2D4, 40%);

$color-light: lighten(#C8E2D4, 20%);
$color-light-accent: lighten(#C8E2D4, 30%);
$color-extra-light: lighten(#C8E2D4, 40%);

$color-white: #fff;
$color-black: #000;

$f: $color-white;
$b: $color-black;

$paragraph_text: #000;

// Shorthand scss Variables
$m: $color-main;
$se: $color-secondary;


// CSS Variables

:root {
  --m: #{$m};
  --s: #{$se};
  
}