/* BUTTON STYLES */

.btn-container {

  
  @media screen and (max-width: 992px) {

  }

  &:hover {
    opacity: 0.5;
    transition: 0.3s;
  }
}




// main button container

.ui-btn {
  display: flex;
  color: $color-secondary;
  display: flex;
  align-items: center;
  font-size: 16px;
  font-weight: bold;
  font-family: $font-secondary;
  text-transform: uppercase;
  letter-spacing: 0;
  opacity: 1;

  @include isXLarge {
    font-size: 18px;
  }

  span {
    padding: 0 15px;
  }

  @include isRetina {
    font-size: 20px;
  }

  div.icon {
    background: $color-secondary;
    width: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 50px;
    border-radius: 50%;
    transition: 0.3s;

    img {
      width: 30px;
      height: 30px;
    }

  }
  &:hover {
    text-decoration: none;
    color: $color-secondary;
    
    div.icon {
      transition: 0.3s;
      transform: scale(0.95);
    }
  }



  &.ui-btn-white {
    color: $f;

  }
}


