// Request Appointment Form

// Input styles
@mixin selectStyles {
  -webkit-appearance: none;
  -moz-appearance: none;

  width: 100%;
  text-align: left;

  box-shadow: none;
  font-size: 14px;
  letter-spacing: 1px;
  height: auto;
  text-transform: capitalize;
  border: none;

  background-color: $f;

  margin-top: 10px;

  padding: 15px 12px;
  line-height: 20px;


  font-size: 16px;
  color: $color-secondary;
  letter-spacing: 0em;

  border-radius: 30px;
}

@mixin placeholderText {
  color: rgba($color: #515252, $alpha: 1);
  font-style: normal;

  line-height: 30px;
  font-size: 14px;
  color: rgba(123,123,123,1);


  font-weight: Regular;
  font-size: 16px;
  color: $color-secondary;
  letter-spacing: 0em;
  line-height: 1.875;

}

input.form-control {
  @include selectStyles;

  &::placeholder {
    @include placeholderText;
  }

  &:hover {
    background-color: rgba(0, 0, 0, 0.1);
    color: #515252;
    border-radius: 30px;

    &::placeholder {
      color: #515252;
    }
  }
}

select.form-control {
  background: transparent
    url("../../../../img/arrow-blue.svg")
    no-repeat right 1.5rem center/20px 20px;
  @include selectStyles;



  text-transform: capitalize;
  option {
    text-transform: capitalize;
  }

  &::placeholder {
    @include placeholderText;
  }


  border-radius: 30px;

  &:hover {
    background-color: rgba(0, 0, 0, 0.1);
    color: #515252;
    border-radius: 30px;
    &::placeholder {
      color: #515252;
    }
  }
}

textarea.form-control {
  @include selectStyles;

  &::placeholder {
    @include placeholderText;
  }

  &:hover {
    background-color: rgba(0, 0, 0, 0.1);
    box-shadow: 0 3px 11px 7px rgba(0, 0, 0, 0.11);
    color: #515252;
    border-radius: 3px;
    &::placeholder {
      color: #515252;
    }
  }
}
