// --------------------------------------------------------------------------
// SECTION STYLES
// --------------------------------------------------------------------------

section.welcome {
  position: relative;
  min-height: 950px;
  display: flex;
  align-items: center;


  .img {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    display: flex;
    // max-width: 1400px;
    margin: 0 auto;

    align-items: center;
    justify-content: center;

    picture {
      width: 100%;
      height: 100%;
      img {
        object-fit: cover;
        object-position: center;
        height: 100%;
        width: 100%;
        // @media screen and (max-width: 1240px) {
        //   opacity: 0.3;
        // }
        // @media screen and (max-width: 992px) {
        //   opacity: 0.3;
        // }
      }
    }


  }

  .container {
    position: relative;
    z-index: 2;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    .content {
      max-width: 550px;
      width: 100%;
      
      @media screen and (max-width: 992px) {
        padding-bottom: 60px;
      }

      img {
        padding: 250px 0 50px;
      }

      p {
        color: $f;
        font-weight: 500;
        text-align: center;
        text-transform: uppercase;
        // letter-spacing: 2px;
      }
    }
  }

  .arrow-btn {
    position: absolute;
    bottom: 30px;
    // margin-right: -20px;
    right: 50%;

    a {
      
      &:hover {
        opacity: 0.5;
      }

      &::before {
        display: none;
      }
    }
  }


  .hero-social {
    position: absolute;
    right: 30px;
    bottom: 50px;
    z-index: 2;
    display: flex;
    flex-direction: column;

    .social-link {
      margin: 15px 0;

      &::before {
        display: none;
      }
      
      &:hover {
        opacity: 0.5;
      }
    }
  }
}


section.sculptsure {
  position: relative;
  display: flex;
  align-items: center;
  padding: 50px 0;

  @include isXLarge {
    padding: 80px 0;
  }


  .container {
    position: relative;
    z-index: 2;
    display: flex;

    @media screen and (max-width: 992px) {
      padding: 50px 15px 0;
    }


    .content {
      width: 100%;
      display: flex;
      align-items: flex-start;

      @media screen and (max-width: 992px) {
        flex-direction: column-reverse;
      }

      .left-col {
        width: 50%;


        
        @media screen and (max-width: 992px) {
          width: 100%;
        }

        .img {
          width: 100%;
          height: 100%;
          img {
            object-fit: cover;
            object-position: center;
            height: 100%;
            width: 100%;
          }
        } 


      }

      .right-col {
        width: 50%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        

        .right-content {
          display: flex;
          flex-direction: column;
          justify-content: center;
          align-items: center;

  

          p {
            text-align: center;
            
          
          }


        }

          
        .qoute-col {
          width: 55%;
          position: absolute;
          right: 2%;
          padding: 20px;
          background: $color-third;
          bottom: 40px;
          display: flex;
          z-index: -1;


          .image-wrapper {
            position: relative;
            top: -10px;
            z-index: 1;
            img {
              max-width: 50px;
              margin: 0 10px;
            }
          }

          .image-wrapper-right {
            position: absolute;
            z-index: 1;
            bottom: 60px;
            right: 100px;


            @include isRetina {
              right: 200px;
            }
            img {
              max-width: 25px;
            }
          }


          .text-content {
            p {
              margin: 0;
              // z-index: 99;
              // display: flex;
         
              // span {
              //   position: relative;
              //   // right: 200px;
              //   // bottom: 20px;
                
               
              // }
            }
  
            
            p.reviewer {
              text-align: right;
              margin-right: 30px;
            }
    
          }
  

        }
  

      }



    }
  }

}

section.business {
  position: relative;
  display: flex;
  align-items: center;
  padding: 50px 0;
  min-height: 900px;

  @include isXLarge {
    padding: 80px 0;
  }


  .img {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    display: flex;
    // max-width: 1400px;
    margin: 0 auto;

    align-items: center;
    justify-content: center;

    picture {
      width: 100%;
      height: 100%;
      img {
        object-fit: cover;
        object-position: center;
        height: 100%;
        width: 100%;
        // @media screen and (max-width: 1240px) {
        //   opacity: 0.3;
        // }
        // @media screen and (max-width: 992px) {
        //   opacity: 0.3;
        // }
      }
    }

  }


  .container {
    position: relative;
    z-index: 1;
    display: flex;
    margin: 0;
    padding: 0;

    .content {
      width: 50%;
      display: flex;
      flex-direction: column;
      align-items: center;
      background-color: $color-secondary;
      padding: 50px;
      border-radius: 0 200px 200px 0;


      h2 {
        color: $f;
      }

      h3 {
        color: $f;
      }
      
      p {
        color: $f;
        text-align: center;
      }
    }
  }

}

section.team {
  position: relative;
  display: flex;
  padding: 50px 0;
  min-height: 900px;

  @include isXLarge {
    padding: 80px 0;
  }


  .img {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    display: flex;
    // max-width: 1400px;
    margin: 0 auto;

    align-items: center;
    justify-content: center;

    picture {
      width: 100%;
      height: 100%;
      img {
        object-fit: cover;
        object-position: center;
        height: 100%;
        width: 100%;
        // @media screen and (max-width: 1240px) {
        //   opacity: 0.3;
        // }
        // @media screen and (max-width: 992px) {
        //   opacity: 0.3;
        // }
      }
    }

  }


  .container {
    position: relative;
    z-index: 1;
    display: flex;
    // margin: 0;
    padding: 0;
    max-width: 100%;
    align-items: center;
    justify-content: center;

    .content {
      width: 100%;
      display: flex;
      flex-direction: column;
      align-items: center;


      h2 {
        text-transform: uppercase;
      }

      h3 {

      }

      .slider-container {
        width: 100%;
        margin-top: 50px;
        .swiper {
          padding: 0 40px;

          @media screen and (max-width: 992px) {
            width: 600px;
          }

          @media screen and (max-width: 700px) {
            width: 100%;
          }




          .swiper-wrapper {
            width: 100%;
          }

          .swiper-slide {
            width: 100%;
            height: 100%;




            .img-container {

              @media screen and (max-width: 992px) {
                width: 450px;
                margin: 0 auto
              }

              @media screen and (max-width: 700px) {
                width: 350px;
              }
    
              @media screen and (max-width: 500px) {
                width: 100%;
              }
    

              picture {
                img {
                  width: 100%;
                  height: 100%;
                }
              }
            }

            h3 {
              font-size: 20px;
              font-weight: bold;
              text-align: center;
            }

            p {
              text-align: center;
              font-weight: 500;
            }          }

          .swiper-button-next,.swiper-button-prev {
            color: $f;
            right: 5px;
            width: 50px;
            height: 50px;
            border-radius: 50%;
            display: flex;
            align-items: center;
            justify-content: center;
            transition: 0.3s;
            top: 30%;

            .icon {
              background: $color-secondary;
              width: 50px;
              display: flex;
              align-items: center;
              justify-content: center;
              height: 50px;
              border-radius: 50%;
              transition: 0.3s;

          
              img {
                width: 30px;
                height: 30px;
              }
              
            }

            &:after {
              // font-size: 25px;
              // width: 100%;
              // height: 100%;
              // display: flex;
              // align-items: center;
              // justify-content: center;
              // margin-left: 5px;
              display: none;
            }



            &:hover {
              opacity: 0.6;
              transition: 0.3;
            }
          }

          .swiper-button-prev {
            left: 5px;
          }
        }
      }

      .btn-container {
        margin-top: 20px;

        @include isXLarge {
          margin-top: 50px;
        }
      }
    }
  }

}

section.virtual {
  position: relative;
  display: flex;
  align-items: center;
  padding: 50px 0;
  min-height: 900px;

  @include isXLarge {
    padding: 80px 0;
  }


  .img {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    display: flex;
    margin: 0 auto;

    align-items: center;
    justify-content: center;

    picture {
      width: 100%;
      height: 100%;
      img {
        object-fit: cover;
        object-position: left;
        height: 100%;
        width: 100%;
        @media screen and (max-width: 1240px) {
          opacity: 0.3;
        }
        // @media screen and (max-width: 992px) {
        //   opacity: 0.3;
        // }
      }
    }

  }


  .container {
    position: relative;
    z-index: 1;
    display: flex;
    margin: 0;
    justify-content: flex-end;

    .content {
      display: flex;
      flex-direction: column;
      align-items: center;
      width: 50%;

      h2 {
        font-size: 60px;

        @include isXLarge{
          font-size: 70px;
        }

        @include isRetina{
          font-size: 80px;
        }
      }

      p {
        text-align: center;
      }
    }
  }

}

section.textblock {
  position: relative;
  padding: 80px 0;

  .content {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;

    .subtitle {
      font-weight: Bold;
      font-size: 18px;
      color: #4d90ff;
      letter-spacing: 0.05em;
      line-height: 1.7777777777777777;
      margin: 0 0 10px;
    }

    h2.sec-title {
      font-weight: Regular;
      font-size: 40px;
      color: #1f3c6a;
      letter-spacing: 0em;
      line-height: 1.25;
    }

    p {
      max-width: 700px;
      text-align: center;
    }
  }
}

section.slider-changes {
  .sliderblock {
    position: relative;
    @media screen and (max-width: 992px) {
      min-height: 700px;
    }
    @media screen and (max-width: 992px) {

    .img {
      height: 100%;
      position: absolute;
      top: 0;
      left: 0;
      bottom: 0;
      right: 0;
      display: flex;
      align-items: center;
      justify-content: center;

      img {
        height: 100%;
        width: 100%;
        object-fit: cover;
        object-position: center;
        opacity: .3;
        object-position: 70% 50%;
      }
    }
  }

    .txt {
      position: absolute;
      top: 50%;
      left: 60px;
      max-width: 420px;
      transform: translateY(-50%);
      @media screen and (max-width: 992px) {
        left: 20px;
      }

      h2.sec-title {
        font-weight: 500;
        font-size: 60px;
        color: #1f3c6a;
        letter-spacing: 0em;
        line-height: 1.1333333333333333;
        @media screen and (max-width: 992px) {
          font-size: 50px;
        }
      }
    }

    .overlay-content {
      position: absolute;
      top: 0;
      left: 0;
      bottom: 0;
      width: 100%;
      max-width: 500px;
      background: var(--s);
      padding: 30px 60px;
      display: flex;
      align-items: center;
      justify-content: center;

      // opacity: 0;
      visibility: hidden;
      transform: translateX(-100%);

      transition: all 1s cubic-bezier(0.16, 1, 0.3, 1);
    }

    &:hover {
      .overlay-content {
        // opacity: 1;
        visibility: visible;
        transform: translateX(-0%);
      }
    }
  }

  .bottom-nav {
    position: absolute;
    bottom: 30px;
    left: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .bottom-nav .swiper-button-prev {
    position: relative;
    top: 0;
    transform: none;
    margin: 0;
  }

  .bottom-nav .swiper-button-next {
    position: relative;
    top: 0;
    transform: none;
    margin: 0;
  }

  .bottom-nav .swiper-pagination {
    position: relative;
  }

  .bottom-nav .swiper-pagination span.swiper-pagination-bullet {
    margin: 0 5px;
    background: #4d90ff;
    width: 10px;
    height: 10px;
    &:hover {
      opacity: 1;
    }
  }

  .bottom-nav .swiper-pagination {
    margin: 0 30px;
  }

  .bottom-nav .swiper-button-next,
  .bottom-nav .swiper-button-prev {
    border: 1px solid #4d90ff;
    width: 33px;
    height: 33px;
    border-radius: 50%;
    transition: all 0.3s;
    &:hover {
      background: #4d90ff;
      color: #fff;
    }
  }

  .swiper-button-next:after,
  .swiper-button-prev:after {
    font-size: 16px;
  }
}

section.split-box {
  position: relative;
  margin: 90px 0;

  .container {
    max-width: 1400px;
    padding: 0;
  }

  .content {
    display: flex;
    align-items: center;
    justify-content: center;
    background: #1f3c6a;

    @media screen and (max-width: 992px) {
      flex-direction: column;
    }
  }
  .subtitle {
    font-weight: Bold;
    font-size: 18px;
    color: #ffffff;
    letter-spacing: 0.05em;
    line-height: 1.7777777777777777;
  }

  .txt {
    height: 100%;
    padding: 30px 100px;
    max-width: 600px;
    @media screen and (max-width: 992px) {
      padding: 60px 20px;
    }
  }

  .img {
    width: 100%;
    max-width: 760px;
    margin-right: auto;
    @media screen and (max-width: 992px) {
      max-width: 100%;
      margin: 0px auto 0;
      max-height: 500px;
      overflow: hidden;
    }
  }
}

section.fullwidth {
  position: relative;
  min-height: 900px;
  display: flex;
  align-items: center;
  @media screen and (max-width: 992px) {
    min-height: 600px;
  }

  .container {
  }

  .img {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    display: flex;
    max-width: 1400px;
    margin: 0 auto;
    img {
      object-fit: cover;
      object-position: center;
      @media screen and (max-width: 992px) {
        flex-direction: column;
        opacity: .3;
      }
    }
  }

  .container {
    position: relative;
    z-index: 2;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: flex-start;
    .content {
      max-width: 320px;
      width: 100%;
    }
  }
}

section.concerns {
  position: relative;

  .content-block {
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    max-width: 960px;
    margin: 0 auto;
    min-height: 270px;
    @media screen and (max-width: 992px) {
      min-height: 500px;
    }
    
  }

  .overlay-block {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    display: flex;
    min-height: 270px;
    transition: all 0.6s cubic-bezier(0.83, 0, 0.17, 1);
    height: 100%;

    @media screen and (max-width: 992px) {
      flex-direction: column;
      height: 100%;
    }

    .img {
      width: 50%;
      display: flex;
      flex-direction: column;

      @media screen and (max-width: 992px) {
        width:100%;
        height: 50%;
      }

      img {
        height: 100%;
        object-fit: cover;
        object-position: center;
      }
    }

    .titleblock {
      width: 50%;
      display: flex;
      align-items: center;
      justify-content: center;
      background: #4d90ff;
      @media screen and (max-width: 992px) {
        width:100%;
        height: 50%;
        padding: 0 20px;
      }
    }
  }

  .block {
    position: relative;
    margin: 70px 0;
    overflow: hidden;
    .content-block {
      .subtitle {
        font-weight: Bold;
        font-size: 18px;
        color: #4d90ff;
        letter-spacing: 0.05em;
        line-height: 1.7777777777777777;
        margin: 0 0 10px;
      }
      h2.sec-title {
        font-size: 40px;
        color: #1f3c6a;
        letter-spacing: 0em;
        line-height: 1.25;
      }
    }
    &.rev {
      .overlay-block {
        flex-direction: row-reverse;
        @media screen and (max-width: 992px) {
          flex-direction: column;
        }
        .titleblock {
          background: #1f3c6a;
        }
      }
    }

    &:hover {
      .overlay-block {
        transform: translate(0px, 100%);
      }
    }
  }
}

section.slider-changes.treatmentsslider {
  .container {
    max-width: 1400px;
    padding: 0;
  }
  .sliderblock {
    .txt {
      max-width: 500px;

      h2.sec-title {
        font-size: 40px;
        color: #1f3c6a;
        letter-spacing: 0em;
        line-height: 1.25;
      }
      .subtitle {
        font-weight: Bold;
        font-size: 18px;
        color: #4d90ff;
        letter-spacing: 0.05em;
        line-height: 1.7777777777777777;
        margin: 0 0 10px;
      }
    }
  }

  .bottom-nav {
    position: absolute;
    bottom: 30px;
    left: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .bottom-nav .swiper-button-prev {
    position: relative;
    top: 0;
    transform: none;
    margin: 0;
  }

  .bottom-nav .swiper-button-next {
    position: relative;
    top: 0;
    transform: none;
    margin: 0;
  }

  .bottom-nav .swiper-pagination {
    position: relative;
  }

  .bottom-nav .swiper-pagination span.swiper-pagination-bullet {
    margin: 0 5px;
    background: #4d90ff;
    width: 10px;
    height: 10px;
    &:hover {
      opacity: 1;
    }
  }

  .bottom-nav .swiper-pagination {
    margin: 0 30px;
  }

  .bottom-nav .swiper-button-next,
  .bottom-nav .swiper-button-prev {
    border: 1px solid #4d90ff;
    width: 33px;
    height: 33px;
    border-radius: 50%;
    &:hover {
      background: #4d90ff;
      color: #fff;
    }
  }

  .swiper-button-next:after,
  .swiper-button-prev:after {
    font-size: 16px;
  }
}

section.split-box.drabout {
  .container {
    max-width: 1300px;
  }
  .txt {
    max-width: 680px;
  }
  .img{
    max-width: 600px;
  }
}

section.form {
  .container {
    display: flex;
    max-width: 1400px;
    padding: 0;

    @media screen and (max-width: 992px) {
      flex-direction: column;
    }
  }

  .img {
    max-width: 580px;
    display: flex;
    flex-direction: column;
    width: 100%;
    @media screen and (max-width: 992px) {
      max-width: 100%;
    }
  }

  .formcontent {
    background: #e3eeff;
    padding: 90px;
    @media screen and (max-width: 992px) {
      padding: 90px 20px;
    }
  }

  .img img {
    height: 100%;
    object-fit: cover;
    object-position: center;
    width: 100%;
    @media screen and (max-width: 992px) {
      height: 500px;
    }
  }
  .formpwrap {
    display: flex;
    gap: 30px;
    flex-wrap: wrap;
    flex-direction: row;

    .input {
      width: 45%;
    }
  }
  button.ui-btn.ui-submit {
    background: transparent;
    border: none;
    margin-bottom: 10px;
    padding-top: 20px;
  }
}
