@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap");


/* Typography */

// PX to REM - Usage: font-size: rem(37px);
@function rem($px, $base: $base-font-size) {
    @return ($px / $base) * 1rem;
  }
  
  @mixin linkHover {
    position: relative;
    text-decoration: none;
    display: inline-block;
    &:before {
      content: close-quote;
      position: absolute;
      top: 100%;
      left: 0;
      width: 0px;
      height: 2px;
      background-color: var(--m);
      transition: all 0.6s cubic-bezier(0, 0.55, 0.45, 1);
    }
    
    &:hover {
      text-decoration: none;
      &:before {
        left: calc(100% - 20px);
        width: 20px;
      }
    }
  }
  
  
  
  
  
  /*------------------------------------*\
        # Simple Typography Settings
    \*------------------------------------*/
  // Font Family

  //Didot LT Headline
  $font-family: "linotype-didot-headlinet", serif;
  $font-weight: 400;
  $font-style: normal;
    
  //Didot LT Pro Roman 
  $font-family: "linotype-didot", serif;
  $font-weight: 400;
  $font-style: normal;


  //Didot LT Pro Roman 
  $font-family: "linotype-didot", serif;
  $font-weight: 700;
  $font-style: normal;

  //Futura PT 
  $font-family: "futura-pt", serif;
  $font-weight: 200;
  $font-style: normal;

  //Futura PT 
  $font-family: "futura-pt", serif;
  $font-weight: 300;
  $font-style: normal;

  //Futura PT 
  $font-family: "futura-pt", serif;
  $font-weight: 500;
  $font-style: normal;

  //Futura PT 
  $font-family: "futura-pt", serif;
  $font-weight: 700;
  $font-style: normal;

  //Futura PT 
  $font-family: "futura-pt", serif;
  $font-weight: 900;
  $font-style: normal;


    
  
  $font-primary:  "linotype-didot", serif;
  $font-secondary: "futura-pt", sans-serif;
  $font-third: "scotch-display", sans-serif;
  $font-fourth: "linotype-didot-headline", serif;
  
  // Base Font for HTML
  $base-font-size: 18px;
  
  // Paragraph Styles
  $paragraph-color: $paragraph_text;
  $paragraph-size: 16px;
  $paragraph-line-height: 26px;
  $paragraph-margin: 20px;
  
  // Header Styles
  $header-color: #2b303a;
  $header-size: rem(40px);
  $header-line-height: 1em;
  $header-margin: $paragraph-margin * 1.2;
  
  // Blockquote Styles
  $blockquote-color: #505050;
  $blockquote-size: rem(23px);
  $blockquote-line-height: 1.5em;
  $blockquote-margin: $paragraph-margin * 1.5;
  
  // Links
  $link-color: $color-main;
  
  // hr
  $hr-margin: 30px;
  
  // Type Misc
  $font-weight-bold: 800;
  $border-color: #dadada;
  
  /*------------------------------------*\
        # Type
    \*------------------------------------*/
  
  // Make type normal across browsers
  // *,
  html,
  body {
    //   font-size: $base-font-size;
    //   font-family: $font-secondary;
    font-family: $font-secondary;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    -webkit-text-size-adjust: 100%;
    -ms-text-size-adjust: 100%;
  }
  
p {
  line-height: calc(1ex / 0.32);
  font-family: $font-secondary;
  font-size: 17px;
  text-transform: uppercase;


  @include isRetina {
    font-size: 20px;
  }
}

a {
  font-size: 16px;

  @include isRetina {
    font-size: 20px;
  }


  
  &:hover {
    opacity: 0.5;
  }
}

h1 {
  font-family: $font-third;
  font-size: 60px;
  font-weight: normal;
  margin-bottom: $header-margin / 1.5;
  text-transform: uppercase;

  
  @include isLarge {
    font-size: 80px;
  } 

  @include isRetina {
    font-size: 100px;
  }
  
  @include isGiant {
    font-size: 120px;
  }

}

h2 {
  font-family: $font-third;
  font-size: 40px;
  font-weight: normal;
  margin-bottom: $header-margin / 1.5;
  text-transform: uppercase;

  @include isSmall {
    font-size: 45px;
  }

  @include isLarge {
    font-size: 60px;
  } 


  @include isXLarge {
    font-size: 70px;
  }

  @include isRetina {
    font-size: 90px;
  }
  
}

h3 {
  font-family: $font-third;
  font-size: 40px;
  font-weight: normal;
  margin-bottom: $header-margin / 1.5;
  text-transform: uppercase;
  margin-right: 0;

  @include isSmall {
    font-size: 45px;
  }


  
  @include isLarge {
    font-size: 60px;
  } 


  @include isXLarge {
    font-size: 70px;
  }

  @include isRetina {
    font-size: 90px;
  }
  
}